/DumbAndCheapDiff/.vs/
/DumbAndCheapDiff/Debug/
/DumbAndCheapDiff/Release/
/FindDivergentPC/.vs/
/FindDivergentPC/Debug/
/FindDivergentPC/Release/
/TruncateTextFile/.vs/
/TruncateTextFile/Debug/
/TruncateTextFile/Release/
